/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---ШАПКА------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/*-----------PAGE--------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__tables {
	position: relative;
	z-index: 2;
	margin: -45px 0px 50px 0px;
}
/*--------------MAIN----------------------*/
/*
.main-block__image{
	position: relative;
}
.main-block__image img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
*/
/*-----------------TABLES-------------------*/
.tables {
}
.tables__container {
}
.tables__body {
}
@media (min-width: 670px) {
	.tables__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
.tables__column {
	flex: 0 1 50%;
}
@media (min-width: 670px) {
	.tables__column {
		padding: 0px 15px;
	}
}

.tables__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: linear-gradient(#fafafa, #D3D3D3);
	padding: 35px;
}

@media (max-width: 479px) {
	.tables__item {
		padding: 25px;
	}
}
.item-tables {
}
.item-tables_green {
	background-color: #0d5c63;
}
.item-tables_green .item-service__title {
	color: #fff;
}
.item-tables_green .item-tables__text {
	color: #fff;
}

.item-tables > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-tables__icon {
}
.item-tables__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
	text-align: center;
}
.item-tables__text {
	color: #737373;
	line-height: 200%;
	letter-spacing: 1px;
}
.item-tables__text li{
	list-style: decimal;
	margin: 0px 20px;
}
.item-tables__text li:first-child{
	background-color: gold;
}
/*---------------Teams-------------------*/
.page__services_1 {
    position: relative;
	z-index: 2;
	margin: 0;
}

.Red-Bull{
	background:linear-gradient(red, black);
}
.Ferrari{
	background:linear-gradient(yellow, red);
}
.Mercedec{
	background:linear-gradient(grey, #20B2AA);
}
.Alpine{
	background:linear-gradient(pink, blue);
}
.Maclaren{
	background:linear-gradient(orange, lightblue);
}
.Alpha-Romeo{
	background:linear-gradient(red, black);
}
.Aston-Martin{
	background:linear-gradient(yellow, green);
}
.Haas{
	background:linear-gradient(white, red, blue);
}
.Alpha-Tauri{
	background:linear-gradient(white, grey);
}
.Williams{
	background:linear-gradient(lightblue, darkblue);
}

@media (min-width: 670px) {
	.services__body_1 {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		justify-content: center;
		align-items: center;
	}
}

.services__column_1 {
	flex: 0 1 50%;
}

.services__column_1:last-child {
	flex: 1 1 100%;
}

@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.pilot{
	height: 400px;
	width: 300px;
}
.car{
	width: 850px;
}

.thumbs {
  margin: 20px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.thumbs:before {
  content: '';
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}
.thumbs img, iframe {
  display: block;
  width: 100%; /* ширина картинки */
  height: 100%; /* высота картинки */
  backface-visibility: hidden;
}

.thumbs .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
}
.thumbs .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.thumbs .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.thumbs:focus:before,
.thumbs:focus span, .thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before, .thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span, .thumbs:hover span {
  top: 0;
}
.thumbs:focus .title, .thumbs:hover .title {
  transition-delay: 0.15s;
}
.thumbs:focus .info, .thumbs:hover .info {
  transition-delay: 0.25s;
}

