/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #fafafa;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---ШАПКА------------------------------------------------------------------------- */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/*-----------PAGE--------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__tables {
	position: relative;
	z-index: 2;
	margin: -45px 0px 50px 0px;
}
/*--------------MAIN----------------------*/
.main-block__image{
	position: relative;
}
.main-block__image img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*-----------------TABLES-------------------*/
.tables {
}
.tables__container {
}
.tables__body {
}
@media (min-width: 670px) {
	.tables__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
}
.tables__column {
	flex: 0 1 50%;
}
@media (min-width: 670px) {
	.tables__column {
		padding: 0px 15px;
	}
}

.tables__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: linear-gradient(white, #D3D3D3);
	padding: 35px;
}

@media (max-width: 479px) {
	.tables__item {
		padding: 25px;
	}
}
.item-tables {
}
.item-tables_green {
	background-color: #0d5c63;
}
.item-tables_green .item-service__title {
	color: #fff;
}
.item-tables_green .item-tables__text {
	color: #fff;
}

.item-tables > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-tables__icon {
}
.item-tables__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
	text-align: center;
}
.item-tables__text {
	color: #737373;
	line-height: 200%;
	letter-spacing: 1px;
}
.item-tables__text li{
	list-style: decimal;
	margin: 0px 20px;
}
.item-tables__text li:first-child{
	background-color: gold;
}

